body, p {
    margin: 0;
    padding: 0;
}

#content-wrap {
    width: 600px;
    height: 800px;
    margin: 0 auto;
    /*background-color: #555500;*/
}

#header {
    height: 100px;
    /*background-color: #777777;*/
}

#content {
    height: 500px;
    /*background-color: #bbffbb;*/
}

#footer {
    /*background-color: #ffbbbb;*/
}

.user {
    width: 119px;
    height: 120px;
    /*background-color: #ffeeff;*/
    float: left;
}

.clock {
    width: 200px;
    margin: 0 auto;
    display: none;
}

.marquee {
    overflow: hidden;
    background: #ccc;
    font-size: 40px;
    font-family: cursive;
}


/*body {*/
    /*padding: 50px;*/
/*}*/

/*h1, label {*/
    /*text-shadow: 0px 1px 1px #4d4d4d;*/
    /*color: #222;*/
    /*font: 24px 'LeagueGothicRegular';*/
/*}*/

/*label {*/
    /*font-size: 14px;*/
/*}*/
/*label.message{*/

/*}*/
/* sizes */
/*#main-wrap > div { min-height: 300px; }*/

/*#header,*/
/*#footer {*/
    /*min-height: 40px;*/
/*}*/

/*.info {*/
    /*min-height: 80px;*/
    /*text-align: center;*/
/*}*/

/* layout */
/*#main-wrap {*/
    /* overflow to handle inner floating block */
    /*overflow: hidden;*/
/*}*/

/*#sidebar {*/
    /*float: left;*/
    /*width: 20%;*/
/*}*/

/*#content-wrap {*/
    /*float: right;*/
    /*width: 80%;*/
/*}*/

/*#info-wrap {*/
    /* overflow to handle inner floating block */
    /*overflow: hidden;*/
/*}*/

/*.info {*/
    /*width: 50%;*/
    /*float: left;*/
/*}*/

/*.btn {*/
    /*-moz-box-shadow: 0px 10px 14px -7px #276873;*/
    /*-webkit-box-shadow: 0px 10px 14px -7px #276873;*/
    /*box-shadow: 0px 10px 14px -7px #276873;*/
    /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));*/
    /*background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);*/
    /*background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);*/
    /*background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);*/
    /*background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);*/
    /*background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);*/
    /*background-color:#599bb3;*/
    /*-moz-border-radius:8px;*/
    /*-webkit-border-radius:8px;*/
    /*border-radius:8px;*/
    /*display:inline-block;*/
    /*cursor:pointer;*/
    /*color:#ffffff;*/
    /*font-family:arial;*/
    /*font-size:20px;*/
    /*font-weight:bold;*/
    /*padding:13px 32px;*/
    /*text-decoration:none;*/
    /*text-shadow:0px 1px 0px #3d768a;*/
/*}*/
/*.btn:hover {*/
    /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));*/
    /*background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);*/
    /*background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);*/
    /*background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);*/
    /*background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);*/
    /*background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);*/
    /*background-color:#408c99;*/
/*}*/
/*.btn:active {*/
    /*position:relative;*/
    /*top:1px;*/
/*}*/
