extends layout

block content
    #content-wrap
        #header
            h1= title
            label
                span Personalized display for: #{owner}

        #content
            //        button(id='feedback', class='btn').
            //            Send feedback
            .marquee= message
            .clock
        #footer

        script.
            var owner= !{JSON.stringify(owner)}
            var other_users = [];
            $('.marquee').marquee();
            var clock = $('.clock').FlipClock({
                clockFace: 'HourlyCounter',
                autoStart: false,
                callbacks: {
                    stop: function(){
                        console.log("the clock has stopped!");
                    }
                }
            });

            var connection = new WebSocket("ws://"+window.location.hostname+":8081");
            connection.onopen = function () {
                console.log("Connection opened");
            };
            connection.onclose = function () {
                console.log("Connection closed");
            };
            connection.onerror = function () {
                console.error("Connection error");
            };
            connection.onmessage = function (event) {
                var msg = JSON.parse(event.data);
                    if (msg.user === owner) {
                        if (msg.time != 0) {
                            clock.setTime(msg.time);
                            clock.setCountdown(true);
                            clock.start();
                            $('.clock').show();
                        } else {
                            $('.clock').hide();
                        }
                        $('.marquee').html(msg.message).marquee();
                        $('body').css('background-color', msg.color);
                        $('.marquee').css('background-color', msg.color);
                    } else {
                        if (_.contains(otherUsers, msg.user)) {
                            // match existing user id
                            // update user content
                            var userContainer = $('"#' + msg.user + '"');
                            userContainer.find('p').text(msg.message);
                        } else {
                            // create new user
                            other_users.push(msg.user)
                            var container = $('<div/>', {'class':'user', id: msg.user}).appendTo('#footer')
                            var message = $('<p/>');
                            message.text(msg.message)
                        }
                    }
            }
            $("#feedback").on("click", function(){
                connection.send(clock.getTime(null, true));
                }
            );